.spinner-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
    background: grba(240, 270, 210, 0.8);
}