<div class="supplier-container">
  <div>
    <input  class="form-control" type="text" [formControl]="searchControl">
    <button type="btn btn-primary" (click)="buscar()">Buscar</button>
   
  </div>
  <app-switch-view [templates]="templates" [defaultTemplateKey]="defaultemplate">
  </app-switch-view>
  <ng-template #cardViewTemplate>
    <app-supplier-list-card [items]="items"></app-supplier-list-card>
  </ng-template>
  <ng-template #tableViewTemplate>
    <app-supplier-list-table [items]="items"></app-supplier-list-table>
  </ng-template>
</div>